* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navBar {
    height: 91px;
    display: flex;
    background-color: #21222A;
    align-items: center;
}
.navBar h3 {
    margin-right: auto;
    margin-left: 6px;
    font-family: Inter;
    font-weight: 700;
    color: #61DAFB;
    font-size: 22.25px;
}
.navBar h4 {
    color: #DEEBF8;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    margin-right: 27px
}
.navBar img {
    width: 40px;
    height: 40px;
    margin-left: 40px;
}