* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.navBar {
    height: 91px;
    display: flex;
    background-color: #21222A;
    align-items: center;
}
.navBar h3 {
    margin-right: auto;
    margin-left: 6px;
    font-weight: 700;
    color: #61DAFB;
    font-size: 22.25px;
}
.navBar h4 {
    color: #DEEBF8;
    font-weight: 600;
    font-size: 16px;
    margin-right: 27px
}
.navBar img {
    width: 40px;
    height: 40px;
    margin-left: 40px;
}

body {
    background-color: #282D35;
    ;
}

.mainContent {
    color: #FFF;
    padding: 57px 27px;
}
.titleElement {
    font-weight: 700;
    font-size: 39px;
    margin: 0;
    letter-spacing: -0.05em;
}
/* .mainContent ul {
    margin-left: 50px; 
} 
*/

.mainContent li {
    font-size: 16px;
    padding-block: 10px;
    /* line-height: 2.3; */
}
.mainContent li::marker {
    font-size: 1.4rem;
    color: #61DAFB
}
.mainContent ul {
    max-width: 400px;
}