* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

.banner {
    height: 60px;
    background-color: #F55A5A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner--icon {
    height: 24px;
    width: 24px;
}