* {
    margin: 0;
    padding: 0%;
    box-sizing: content-box;
}

.badgeForm {
    border: 2px solid black;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
}
.form--input {
    margin: 15px 10px
}
.form--about {
    grid-column-start: 1;
    grid-column-end: -1;
}
.form--submit {
    grid-column-start: 1;
    grid-column-end: -1;
    width: 10em;
    margin: 0 auto;
}

.completedBadge {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
}
.completedBadge h3 {
    /* background-color: #969696; */
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
}
.completedBadgeInfoItem {
    margin: 15px 10px
}
.completedAbout {
    grid-column-start: 1;
    grid-column-end: -1;
    border: 1px solid black;
    min-height: 100px;
    padding: 5px;
}
.completedBadgeGrid {

    padding: 0px 50px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}
