* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(35, 37, 44);
    color: white
}


.everythingContainer {
    width: 317px;
    margin: 0px auto;
}

.infoContainer img {
    width: 100%;
    height: 317px;
}

.footer img {
    height: 40px;
    width: 50px;
}