* {

    padding: 0;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: rgb(40,45,53);
    margin: 0;
}

.navBar {
    display: flex;
    align-items: center;
    background-color: rgb(33,34,42);
    height: 60px;
    padding: 15px;
}
.navBar h3 {
    margin-right: auto;
    color: rgb(97,218,251);
    font-size: 25px;
}
.navBar h4 {
    font-size: 15px;
    color: rgb(222,235, 248);
}
.navBar img {
    height: 30px;
}

.mainContent {
    background-image: url("logo192.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right -40px;
    
}
.mainContent h1 {
    padding: 40px 15px 30px
}

.mainContent ul {
    margin: 0px 50px;
    line-height: 2;
    list-style: none
}

.mainContent li {
    align-items: center;
    font-size: 18px;
}

.mainContent li::before {
    content: "•"; 
    color: rgb(97,218,251);
    margin: 4px;
    font-size: 30px;
}